{% extends 'base_login.html' %}
{% block title %}Iniciar sesión{% endblock %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="p-5">
            <div class="text-center">
                <h1 class="h4 text-primary font-weight-bold mb-4">
                    Chucky PB
                </h1>
            </div>
            <hr><br>
            <form class="user" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="id_username" name="username"
                        placeholder="Nombre de usuario..." />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="id_password" name="password"
                        placeholder="Contraseña..." />
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-user btn-block font-weight-bold">
                    Iniciar sesión
                </button>
            </form>
            <br>
            <hr><br>
            <div class="text-center">
                <a class="small" href="{% url 'signup' %}">¿No tienes una cuenta? Regístrate</a><br>
                <a class="small" href="#">¿Has olvidado tu contraseña?</a>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-primary:hover {
        background-color: var(--white);
        border-color: var(--primary);
        color: var(--primary);
    }

    a {
        color: var(--primary);
    }

    a:hover {
        color: var(--primary);
    }
</style>

{% endblock %}