{% extends "base_login.html" %}
{% load static %}

{% block titulo %}Registrar usuario{% endblock %}
{% block content %}
    <!-- Form para añadir usuario-->
    <div class="container">
        <div class="alert alert-info display-3 text-center my-5"
            style="background-color: var(--primary) !important; color: white; border: none;">
            Registrar usuario
        </div>
    </div>

    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <ul>
        {% for field in form %}
            {% for error in field.errors %}
            <li><strong>{{field.label}}: </strong> {{error}} </li>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <li> {{error}} </li>
        {% endfor %}
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    
    <div class="row justify-content-center">
        <form method="post" class="user col-6 card p-4">
            {% csrf_token %}
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" name="first_name" id="id_first_name" autofocus
                        required placeholder="Nombre">
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" name="last_name" id="id_last_name" autofocus
                        required placeholder="Apellido">
                </div>
            </div>
            <div class="form-group">
                <input type="email" class="form-control form-control-user" name="email" id="id_email" autofocus
                    required placeholder="Correo electrónico">
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" id="id_password1" name="password1"
                        required placeholder="Contraseña">
                </div>
                <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" id="id_password2" name="password2"
                        required placeholder="Repetir contraseña">
                </div>
            </div>
            <button class="btn btn-primary btn-user btn-block font-weight-bold" type="submit">
                Registrar cuenta
            </button>
            <hr>
            <a href="{% url 'login' %}" class="btn btn-primary btn-user btn-block font-weight-bold">Volver al inicio de sesión</a>
        </form>
    </div>


<style>
    .hover-lift {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .hover-lift:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    }

    .text-primary {
        color: var(--primary) !important;
    }

    .btn-primary {
        background-color: var(--primary);
        color: white;
        border-color: white;
    }

    .btn-primary:hover {
        color: var(--primary);
        background-color: white;
        border-color: var(--primary);
    }

    .a {
        color: var(--primary);
    }

    .a:hover {
        color: var(--primary) !important;
    }
</style>
{% endblock %}