{% extends "base_general.html" %}
{% load static %}


{% block sidebar %} {% include 'menu/base_sidebar.html' %} {% endblock %}
{% block topbar %} {% include 'menu/topbar.html' %} {% endblock %}
{% block content %}

{% if user.is_authenticated %}
{% block title %}Panel de usuario{% endblock %}

    {% if user.is_superuser %}
            <table>
                <tr>
                    <td>
                        <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}" width="128px" />
                    </td>
                    <td>
                        <h2>ADMINISTRADOR</h2>
                    </td>
                </tr>
            </table>
    {% else %}
            <table>
                <tr>
                    <td>
                        <img class="img-profile rounded-circle" src="{% static 'img/undraw_profile.svg' %}" width="128px" />
                    </td>
                    <td>
                        <h2>VENDEDOR</h2>
                    </td>
                </tr>
            </table>
    {% endif %}

{% else %}
        <h1>No has iniciado sesión</h1>
        <a href="{% url 'login' %}">Iniciar sesión</a>
{% endif %}

{% endblock %}

{% block footer %} {% include 'menu/footer.html' %} {% endblock %}
{% block extras %} {% include 'menu/logout_dialog.html' %} {% endblock %}