{% extends 'menu/base_sidebar.html' %}

{% block extra_content %}

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Regular user products heading -->
    <div class="sidebar-heading">Productos</div>

    <!-- Products options -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'products_list' %}">
            <i class="bi bi-cart-fill"></i>
            <span>Lista de productos</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'products_create' %}">
            <i class="bi bi-bag-plus-fill"></i>
            <span>Agregar nuevo producto</span></a>
    </li>

{% endblock %}
