<ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Title -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home_panel' %}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-paw mr-2"></i>
        </div>
        <div class="sidebar-brand-text mx-3">
            Chucky PB
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Home -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'home_panel' %}">
            <i class="bi bi-house-fill"></i>
            <span>Inicio</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- User settings heading -->
    <div class="sidebar-heading">Usuario</div>

    <!-- User settings -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Configuración</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Cambiar:</h6>
                <a class="collapse-item" href="{% url 'username_change' %}">Nombre de usuario</a>
                <a class="collapse-item" href="{% url 'email_change' %}">Correo electrónico</a>
                <a class="collapse-item" href="{% url 'password_change' %}">Contraseña</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Botón de despliegue -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>

<style>
    a {
        color: var(--primary);
    }

    a:hover {
        color: var(--primary);
    }
</style>